/LogicaDeTroco_03_17/nbproject/private/
/LogicaDeTroco_03_17/build/
/exercicio5/nbproject/private/
/exercicio5/build/
/exercico01/nbproject/private/
/exercico01/build/
/testeAula/nbproject/private/
/testeAula/build/
/aula_04_28/nbproject/private/
/aula_04_28/build/
/revisao/nbproject/private/
/revisao/build/
/telasInicial/nbproject/private/
/telasInicial/build/
/CrudExemplo/nbproject/private/
/CrudExemplo/build/
/JavaApplication22/nbproject/private/
/testeCrud/nbproject/private/
/testeCrud/build/
/testeCrud/dist/
/GerenciadorClientes/nbproject/private/
/GerenciadorClientes/build/
/Janelas/nbproject/private/
/Janelas/build/
/CrudExemplo_1/nbproject/private/
/Filme/nbproject/private/
/Filme/build/
/CrudExemplo_1/build/
